body{
    padding-top: 54px;
}
nav{
    background-color: rgba(255,90,62,0.6);
    color: #fff;
}
.navbar-toggle{
    border: 1px solid #B3B6B7;
}
.navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-nav>li>a{
    text-align: center;
    font-size: 17px;
    color: #fff;
}
.navbar-nav>li>a:hover{
    color: #000;
    border-radius: 10px;
}
section{
    padding: 250px;
    background: rgba(0,0,0,0.5);
}
section .span3 img{
    width: 210px;
    height: 210px;       
}

section h2{
    padding-top: 2%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: Times New Roman;
    text-align: center;
}
section span{
    color: #EC407A;
}

section .quot {
    text-align: center;
}
section .quot i{
    color: #ff0; font-size: 50px; 
}
section .quot span{
    color: #fff; font-size: 40px; text-align: center;
}

.gray{

    padding-bottom: 40px;
    
}
.gray h1{
    text-align: center;
    margin-top: 14px;
}

.flip3D{
    width: 300px; height: 240px; margin: 20px; float: left;
    cursor: pointer;
}
.flip3D > .front{
    position: absolute;
    -webkit-transform: perspective(600px ) rotateY(0deg);
    transform: perspective(600px ) rotateY(0deg);
    margin: 30px ;
    background: DEEPSKYBLUE; width: 80%;  height: 260px; border: 2px solid LIGHTCYAN;
    box-shadow: rgba(0,0,0,0.5) 3px 3px 5px ;
    text-align: center; font-size: 18px; border-radius: 10px; padding: 10px; margin-bottom: 20px;
    backface-visibility: hidden; 
    transition: transform .5s linear 0s ;
    
}
.flip3D > .back{
    position: absolute;
    -webkit-transform: perspective(600px ) rotateY(180deg);
    transform: perspective(600px ) rotateY(180deg);
    margin: 30px;
    background: LIGHTCYAN; width: 80%; height: 260px; border: 2px solid DEEPSKYBLUE;
    box-shadow: rgba(0,0,0,0.5) 0px 4px 6px ;
    text-align: center; font-size: 18px; border-radius: 10px; padding: 10px; margin-bottom: 20px;
    backface-visibility: hidden; 
    transition: transform .5s linear 0s ;

}
.flip3D:hover > .front{
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg);
}
.flip3D:hover > .back{
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}
.main{
    margin: 50px auto;
    width: 80%;
    margin-bottom: 50px;
}
.bar{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background: #D4E6F1;
}
.title{
    float: left;
    color: #000;
    margin-top: 6px;

}
.prog{
    margin-left: 30px;
    margin-top: px;
    font-family: tahoma;
    height: 20px;
    position: absolute;
    border-radius: 2px;    
}
.html{
    background: #52D1FB; 
}
.css{
    background: #52D1FB; 
}
.boot{
    background: #52D1FB; 
}
.javascript{
    background: #52D1FB; 
}
.jquery{
    background: #52D1FB; 
}
.php{
    background: #52D1FB; 
}
.java{
    background: #52D1FB; 
}
.contact{
    background: #66CCFF;
    padding: 25px;
    border-radius: 10px;
}
